body {
  max-width: 600px;
  background-color: #fafafa;
  font-family: sans-serif;
}

.ticker {
  border-style: solid;
  margin-bottom: 10px;
  max-width: 300px;
  padding: 5px;
}

.positive {
  color: green;
}

.negative {
  color: red;
}